<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Produto </title>
</head>
<body>
    <h1>Produtos</h1>

    <h2>Coca-cola</h2>
    <p>Bom</p>

    <h2>Pepsi</h2>
    <p>Ruim</p>
    
    {% for produto in produtos %}

        <h2>{{produto.nome}}</h2>
        <h2>{{produto.descricao}}</h2>
    <li>{{ user.username|e }}</li>
    <a href="/produtos{{produto.nome}}"Ver detalhes></a>
    {% endfor %}

</body>
</html>